# SPDX-FileCopyrightText: 2026 [ernolf] Raphael Gradenwitz <raphael.gradenwitz@googlemail.com>
# SPDX-License-Identifier: MIT

# Normalize all text files to LF in the repository
* text=auto eol=lf

# Shell scripts without extension
bin/* text eol=lf
